<tr>
    <td>{{model.name}}
    </td>
    <td><span class="badge">{{model.origin}}</span>
    </td>
    <td>
        <ul>
            <li ng-repeat="member in model.members">{{ member.name }}</li>
        </ul>
    </td>

    <td>
        <button  ng-hide="isFavorite(model.id)" ng-click="saveFavorite(model.id);">hacer favorito</button> <button ng-show="isFavorite(model.id)"  ng-click="deleteFavorite(model.id);">quitar favorito</button>
        <!--<span ng-show="isFavorite(album.id)" style="cursor:pointer;">es favorito</span>-->
    </td>
</tr>